body {
    margin: 0;
    background-color: #E5E5E5;
}

header {
    background-color: blue;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    margin: 0;
}

section {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
}

.container {
    padding: 1rem;
}

@media (min-width: 650px) {
    .container {
        margin: auto;
        max-width: 650px;
    }
}

button {
    cursor: pointer;
}

.btn-left {
    float: right;
    background-color: white;
    border: none;
    color: blue;
}

.votes {
    display: flex;
	gap: 15px;
	justify-content: center;
    color: #d8779a;
}

.upvotes,
.downvotes {
    margin-right: 5px;
    background-color: #FAAE2C;
    border-radius: 50%;
    padding-top: 7px;
}

button:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #021b26, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #020826, 5px 5px 15px 5px rgba(0,0,0,0);
}

img {
    width: 20px;
    height: 20px;
}
.discussed {
    color: #FAAE2C;
}